
*, :before, :after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}

body {
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    background:  url("../images/bac02.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAFklEQVQIHWNgYGBI+///PwMIgwmsHAC5exhP0nQwxgAAAABJRU5ErkJggg==") ;*/
    background:url("../images/point.png") ;
}

@font-face {
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/font_1460521353_6949577.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/font_1460521353_6949577.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/font_1460521353_6949577.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/font_1460521353_6949577.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/font_1460521353_6949577.svg#iconfont') format('svg'); /* iOS 4.1- */
}


.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
    content: "\e601";
}
.icon-blog:before {
    content: "\e603";
}
.icon-weiXin:before {
    content: "\e602";
}
.icon-photo:before {
    content: "\e600";
}

@-webkit-keyframes slideUp {
    from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    to {
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
}

@keyframes slideUp {
    from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    to {
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
}

.musicDiv{
    position: relative;
    float: right;
    margin-top: 12px;
    margin-right: 6px;
}

.content {
    position: relative;
    margin: 0 auto;
    top: 50%;
    padding: 40px 20px;
    width: 360px;
    height: 360px;
    text-align: center;
    background: #f0f0f0;
    background: rgba(240, 240, 240, 0.95);
    border-radius: 6px;
    box-shadow: 16px 16px 24px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-animation: slideUp 600ms;
    animation: slideUp 600ms;
}


.avatar {
    position: relative;
    display: block;
    margin-bottom: 20px;
}

.avatar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 800ms;
    transition: -webkit-transform 800ms;

    transition: transform 800ms, -webkit-transform 800ms;
    cursor: pointer;
    border: none;
}

.avatar img:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.avatar:before, .avatar:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 20%;
    height: 0;
    border-top: 1px solid #aaa;
}

.avatar:before {
    left: 0;
}

.avatar:after {
    right: 0;
}

.username {
    margin-bottom: 20px;
    font-size: 20px;
}

.desc {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.5;
}

.social a {
    display: inline-block;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    color: #666;
    border: 1px solid #666;
    border-radius: 50%;
    text-decoration: none;
    -webkit-transition: -webkit-transform 800ms;
    transition: -webkit-transform 800ms;
    transition: transform 800ms, -webkit-transform 800ms;
}

.social a:hover {
    color: #666;
    border: 1px solid #666;
    -webkit-transform: rotate3d(0, 1, 0, 360deg);
    transform: rotate3d(0, 1, 0, 360deg);
}

.social span {
    font-size: 20px;
    line-height: 40px;
}

@media (min-width: 360px) {
    .content {
        width: 360px;
    }
}
