body{
    text-align: center;
    background:url("../images/weiXinBac.png");
    background-size: cover;
}

p{
    font-size: 16px;
    color:white;
    font-family: 微软雅黑;
}
.weiXin{
    width: 400px;
    height: 260px;
    padding: 13px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;
}

.fifteenWX{
    width: 200px;
    height: 200px;
    border-radius: 5px;
}